<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    <meta charset="utf-8"/>
    <title>{{ siteName }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {# Load our main CSS file in dev mode to avoid FOUC #}
    {% if craft.vite.devServerRunning() %}
        <link rel="stylesheet" href="{{ craft.vite.asset("src/css/app.css") }}">
    {% endif %}

    {{ craft.vite.script('src/js/app.js', false) }}
  </head>
  <body>
    <header class="flex justify-between">
      <h1>{{ siteName }}</h1>
      <nav class="flex gap-8">
        <p>Home</p>
        <p>About</p>
        <p>All Projects</p>
      </nav>
    </header>
    {% block content %}
      {# Nothing here, yet! #}
    {% endblock %}
    <footer class="flex justify-between">
      <p>2025</p>
      <div class="flex">social links</div>
    </footer>
  </body>
</html>